<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<div id="hardware_assignments">
  <%= render :partial => 'hardware_assigns/hardware_assigns',
 			 :locals  => {:hardware_assigns  => @user.hardware_assigns,
						  :user     => @user } %>	
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
